*{
 font-family: Arial, Helvetica, sans-serif;   
}
/**********Selector por nombre de etiqueta*****/
body{
    background-color: #F8EDEB;
}
/**********Selectores anidados************/
nav > ul > li{
    list-style:none;
    display: inline;
}
nav > ul > li > a {
    text-decoration: none;
    color:black;
}

header{
    background-color: #FEC89A;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 2px solid #D8E2DC;
  }


tr:hover > td{
    background-color: #FEC5BB;
}




/**********Selector por ID************/
#rock_restaurant {
    width:100%;
}

#beach {
    width:50%;
}

.center{
    text-align: center;
}

.video{
    width:600px;
    height:400px;
}



                                        /* Experiencias flexbox */

#expSection>article>img{
    border-radius: 20px;
    display: block;
}

#expSection{
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: space-around;
}

#expSection>article:hover .overlay{
    opacity: 1;
}

#expSection>article{
    position: relative;
    margin: 20px 20px;
}

.overlay{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: .5s ease;   
    background-color: #008CBA;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
}

.text{
    color: white;
    font-size: 20px;
}